<div class="call-for-paper">
  <h3 class="tac bold yellow">Call For Papers</h3>
  <p class="taj">
    Amity School of Engineering and Technology (ASET), one of the pioneer
    institutions in the field of Engineering, Research and Technology is
    organizing its Confluence-2023 : 13th International Conference on Cloud
    Computing, Data Science & Engineering. Confluence-2023 intends to bring
    together Professionals, Academicians, Industry Experts, Researchers and
    Enthusiasts to discuss various emerging trends and innovations, share
    research results and new directions in the field of next generation
    technologies. This technical conference aims at providing a platform for
    industry and academia for sharing advancements in research and development
    in upcoming areas of Information Technology. Authors are cordially invited
    to submit paper through on line paper submission process (Easy Chair
    submission system) before <span class="bold">31st October 2022</span>
  </p>
  <ul class="m0">
    <span class="bold yellow"
      >Download Call For Papers (click to download)</span
    >
    <li>
      <a target="_blank" href="assets/callForPaper/CFP.docx">Word Document</a>
    </li>
    <li>
      <a target="_blank" href="assets/callForPaper/CFP_Template.doc"
        >Microsoft Word Template</a
      >
    </li>
    <li>
      <a target="_blank" href="assets/callForPaper/CFP_LaTeX.zip"
        >LaTeX Template</a
      >
    </li>
  </ul>

  <div class="hr"></div>

  <h3 class="tac bold yellow">Instructions to Authors</h3>
  <ul class="taj">
    <li>
      Original papers based on theoretical or experimental works related to the
      above mentioned sub themes are solicited for presentation in the
      conference. The paper should begin with title, short abstract and a list
      of keywords. Simultaneous submissions (papers already submitted to other
      conferences/journals) are not allowed. All papers must follow strict IEEE
      formatting instructions
    </li>
    <li>All papers must follow strict IEEE formatting instructions</li>
    <li>Please do not submit plagiarized papers.</li>
    <li>
      The total length of the paper must not exceed six A4 size pages including
      bibliography and appendices. Paper must be in .PDF
    </li>
    <li>
      All the papers will be submitted through on-line paper submission process
      (Easy chair submission system). Authors are requested to follow paper
      submission link on website.
    </li>
  </ul>

  <p class="bold yellow m0">Copyright Form</p>
  <p class="taj">
    In order to publish paper in the conference proceeding, the authors are
    required to submit a signed copyright form for each accepted paper during
    registration.
  </p>

  <div class="hr"></div>

  <h3 class="bold yellow tac">Important Dates</h3>
  <ul class="taj m0">
    <li>
      Paper Submission Deadline <br />
      <span class="yellow bold">31st October 2022</span>
    </li>
    <li>
      Acceptance Notification <br />
      <span class="yellow bold">20th December 2022</span>
    </li>
    <li>
      Camera Ready Paper Submission Deadline <br />
      <span class="yellow bold">30th December 2022</span>
    </li>
    <li>
      Last Date of Registration <br />
      <span class="yellow bold">31st December 2022</span>
    </li>
  </ul>
  <p>
    We look forward to a mutually rewarding and long lasting association with
    you and your esteemed organization.
  </p>

  <div class="hr"></div>

  <h6 class="bold yellow">
    Conference Chair, <br />
    Confluence-2023 <br />
    Amity School of Engineering & Technology, <br />
    E3 Block, Third Floor, <br />
    Amity University Uttar Pradesh, <br />
    Sector 125, Noida - 201313 <br />
  </h6>
</div>
