<div class="contact">
  <h2 class="bold yellow tac">Contact Information</h2>
  <p class="yellow bold taj">
    For more details and other queries, (click number to copy to clipboard)
  </p>
  <ul class="taj">
    <li>
      Dr. Garima Aggarwal (<a href="mailto:gmehta@amity.edu">gmehta@amity.edu</a
      >) - <span (click)="copy('08750000840')">08750000840</span>
    </li>
    <li>
      Dr. Shilpi Sharma (<a href="mailto:ssharma22@amity.edu"
        >ssharma22@amity.edu</a
      >) - <span (click)="copy('09999579991')">09999579991</span>
    </li>
    <li>
      Dr. Sumit Kumar (<a href="mailto:skumar59@amity.edu">skumar59@amity.edu</a
      >) - <span (click)="copy('09953320244')">09953320244</span>
    </li>
    <li>
      Dr. Madhulika Bhadauria (<a href="mailto:mbhadauria@amity.edu"
        >mbhadauria@amity.edu</a
      >) - <span (click)="copy('09871907580')">09871907580</span>
    </li>
  </ul>
  <p class="yellow bold taj">
    For paper registration and related queries, (click number to copy to
    clipboard)
  </p>
  <ul class="taj">
    <li>
      Ms. Seema Sharma(<a href="mailto:ssharma26@amity.edu"
        >ssharma26@amity.edu</a
      >) - <span (click)="copy('09811073641')">09811073641</span>
    </li>
    <li>
      Ms. Smriti Sehgal(<a href="mailto:ssehgal@amity.edu">ssehgal@amity.edu</a
      >) - <span (click)="copy('09971412333')">09971412333</span>
    </li>
  </ul>
</div>
