<div class="committees">
  <h2 class="bold yellow tac">International Advisory Committee</h2>
  <p class="m0">
    Prof.(Dr.) Prashant Mohapatra, Associate Chancellor, University of
    California, Davis, CA
  </p>
  <p class="m0">
    Prof.(Dr.) Akhil Kumar, Professor, Information Systems, Pennsylvania State
    University, USA
  </p>
  <p class="m0">
    Prof.(Dr.) Amelia Regan, Professor, University of California, USA
  </p>
  <p class="m0">Prof.(Dr.) Longbing Cao, Professor, AAIUT, Australia</p>
  <p class="m0">
    Prof.(Dr.) S. N. Singh, Vice Chancellor, Madan Mohan Malaviya University of
    Technology, Gorakhpur, India
  </p>
  <p class="m0">Prof.(Dr.) Pradeep K Khosla, Chancellor, UC San Diego, USA</p>
  <p class="m0">
    Prof.(Dr.) Costas Tsatsoulis, Dean, College of Engineering, University Of
    North Texas, USA
  </p>
  <p class="m0">
    Prof.(Dr.) S. N. Mishra, Director, Walter Sisulu University, South Africa
  </p>
  <p class="m0">
    Prof.(Dr.) Vipin Chaudhary, Professor, University of Buffalo, NY, US
  </p>
  <p class="m0">
    Prof.(Dr.) Wu-Yuin Hwang, Professor, National Central University, Taiwan
  </p>
  <p class="m0">Prof.(Dr.) J. RamKumar, Professor, IIT,Kanpur, India</p>
  <p class="m0">
    Prof.(Dr.) Yizhou Yu, Professor, University of Hongkong, Hongkong
  </p>
  <p class="m0">
    Prof.(Dr.) B. K. Murthy, Executive Director, CDAC, Noida, India
  </p>
  <p class="m0">
    Prof.(Dr.) C. S. Arora, Senior Consultant, MHRD, Govt. of India
  </p>
  <p class="m0">
    Prof.(Dr.) Himanshu Tagra, Operation Director, HCL Technologies Ltd., Noida,
    India
  </p>
  <p class="m0">
    Prof.(Dr.) Mukesh Mohania, DE and Chief Architect, IBM Research labs,
    Gurgaon, India
  </p>
  <p class="m0">
    Prof.(Dr.) Neeraj Sharma, Head, Policy Research Cell, DST, Ministry of Sc. &
    Tech., India
  </p>
  <p class="m0">
    Prof.(Dr.) Kevin Thomas, Associate Dean(International), Teesside University,
    UK
  </p>
  <p class="m0">
    Prof.(Dr.) Sebastian Ng, Professor, Swinburne University of Tology,
    Australia
  </p>
  <p class="m0">
    Prof.(Dr.) Julia Buckingham, Professor, Brunel University London, UK
  </p>
  <p class="m0">
    Prof.(Dr.) Aditya P. Mathur, Professor, Purdue University, USA
  </p>
  <p class="m0">
    Prof.(Dr.) Peter Robinson, Professor, University of Cambridge, UK
  </p>
  <p class="m0">
    Prof.(Dr.) Bebo White, Professor, SLAC National Accelerator Laboratory
  </p>
  <p class="m0">
    Prof.(Dr.) Paul Gries, Acting Vice Dean, University of Toronto, USA
  </p>
  <p class="m0">
    Prof.(Dr.) David Gries, Professor Emeritus, Cornell University, USA
  </p>
  <p class="m0">
    Prof.(Dr.) Jean-Paul Van Belle, Professor, University of Cape Town, South
    Africa
  </p>
  <p class="m0">
    Prof.(Dr.) Graham Kendall, Professor, University of Nottingham, Malaysia
  </p>
  <p class="m0">
    Prof.(Dr.) Sartaj Sahni, Professor, University of Florida, USA
  </p>
  <p class="m0">Prof.(Dr.) Jai P. Agrawal, Professor, Purdue University, USA</p>
  <p class="m0">
    Prof.(Dr.) Raj Kumar Buyya, Director, CLOUDS Lab, University of Melbourne,
    Australia
  </p>
  <p class="m0">
    Prof.(Dr.) K. Bhaskar, Professor, Deakin University, Melbourne
  </p>
  <p class="m0">
    Prof.(Dr.) Leonard Lye, Professor, Memorial University of Newfoundland,
    Canada
  </p>
  <p class="m0">
    Prof.(Dr.) Michael A. Smith, Professor, Intel Technology, USA
  </p>
  <p class="m0">Prof.(Dr.) Ankit Choudhary, Missouri State University, USA</p>
  <p class="m0">
    Prof.(Dr.) Y. C. Tay, Professor, National University of Singapore, Singapore
  </p>
  <p class="m0">
    Prof.(Dr.) G. P. Li, Professor, University of California, USA
  </p>
  <p class="m0">
    Prof.(Dr.) Lwrence Pratchett, Dean, University of Canberra, Australia
  </p>
  <p class="m0">
    Prof.(Dr.) Suresh Subramaniam, Professor, The George Washington University,
    USA
  </p>
  <p class="m0">
    Prof.(Dr.) Aleksandar D. Rakic, Associate Dean, The university of
    Queensland, Australia
  </p>
  <p class="m0">
    Prof.(Dr.) Keh-Yung Cheng, Professor, National Tsing Hua University, Taiwan
  </p>
  <p class="m0">
    Prof.(Dr.) Golda Malhotra, Professor, Network N+I:Engineering Studies in
    France, France
  </p>
  <p class="m0">
    Prof.(Dr.) Tanmoy Chakrabarty, Vice President & Head, Tata Consultancy
    Services, India
  </p>
  <p class="m0">Prof.(Dr.) Wei-Chung, National Tsing Hua University, Taiwan</p>
  <p class="m0">
    Prof.(Dr.) John Dewar, Vice Chancellor and President, La Trobe University,
    Australia
  </p>
  <p class="m0">
    Prof.(Dr.) Ajoy Kumar Ray, Professor, Bengal Engineering and Science
    University, India
  </p>
  <p class="m0">
    Prof.(Dr.) Akhilesh Tyagi, Professor, Iowa State University, USA
  </p>
  <p class="m0">
    Prof.(Dr.) Peter J. Coloe, Professor, RMIT University, Australia
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">Technical Committee</h2>
  <p class="bold">
    Chair <br />
    <span class="yellow">Dr. S. K. Garg</span>, Delhi Technical University,
    Delhi, India

    <br /><br />
  </p>
  <p class="bold m0">Members <br /><br /></p>
  <p class="m0">
    Dr. Chi-Ling Pan, Chaoyang University of Technology, Taiwan
    <br />
    Dr. Chun-II Kim, University of Alberta, Canada
    <br />
    Dr. Sandhya Samarasinghe, Lincoln University, New Zealand
    <br />
    Dr. Jemal H. Abawajy, Deakin University, Geelong, VIC
    <br />
    Dr. Daniel Thalmann, Nanyang Technological University, Singapore
    <br />
    Dr. Pavel Ovseiko, University of Oxford, UK
    <br />
    Dr. Mort Naraghi-Pour, Louisina State University, Singapore
    <br />
    Dr. Pinaki Mazumder, University of Michigan, MI
    <br />
    Dr. Pawan Khera, Carnegie Mellon University, USA
    <br />
    Dr. Animesh, McGill University, Canada
    <br />
    Dr. Ing. Ramin Yahyapour, GWDG- University of Gottingen, Germany
    <br />
    Dr. Morteza Naraghi Pour, Louisiana State University, USA
    <br />
    Dr. Jose Luis Verdugay, University of Granada, Spain
    <br />
    Dr. Paulo Mazzoncini de Azevedo Marques, FMRP- University of Sao Paulo,
    Brazil
    <br />
    Dr. Shamimul Qamar, King Khalid University, Saudi Arabia
    <br />
    Dr. Jayant Umale, PCCOE, Pune
    <br />
    Dr. Cristian Haba, Technical University of Iasi, Romania
    <br />
    Dr. William A. Gruver, Simon Fraser University, Canada
    <br />
    Dr. Rashmi Dravid, Northampton University, UK
    <br />
    Dr. Pao-Ann Hsiung, National Chung Cheng University, Taiwan
    <br />
    Dr. Kishor Trivedi, Duke University, North Carolina
    <br />
    Dr. Jiyun Li, Donghua University, China
    <br />
    Dr. Sugam Sharma, IOWA State University, USA
    <br />
    Dr. Syed Akhter Hossain, Daffodil International University,Bangladesh
    <br />
    Dr. Ram Karan Singh, King Khalid University, Kingdom of Saudi Arabia
    <br />
    Dr. TGK Vasista, King Khalid University, Kingdom of Saudi Arabia
    <br />
    Dr. Sitaram P Byahut, TU, Kathamndu, Nepal
    <br />
    Dr. Jai P. Agrawal, Purdue University Calumet, USA
    <br />
    Dr. Gul A Agha, University of Illinois, USA
    <br />
    Dr. Cham Athwal, Birmingham City University, Birmingham
    <br />
    Dr. Alok Verma, Rolls-Royce Corporate Lab, NTU,Singapore
    <br />
    Dr. Sunil Saigal, New Jersey institute of Technology, New Jersey
    <br />
    Dr. Rajesh Yadav, American AirLines, USA
    <br />
    Dr. Ching-Hsien Hsu, Chung Hua University, Taiwan
    <br />
    Dr. Vinod Kumar, Carleton university, Canada
    <br />
    Dr. Huzur Saran, IIT, Delhi, India
    <br />
    Dr. Savita Goel, IIT, Delhi, India
    <br />
    Dr. Shilpi Gupta, IIT, Delhi, India
    <br />
    Dr. Sanjeeva Prashad, IIT, Delhi, India
    <br />
    Dr. Alok K. Verma, IIT, Patna, India
    <br />
    Dr. Surya Prakash, IIT, Indore, India
    <br />
    Dr. Gourinath Banda, IIT, Indore, India
    <br />
    Dr. Sandeep Kumar, IIT, Roorkee, India
    <br />
    Dr. Brijesh Kumar, IIT, Roorkee, India
    <br />
    Dr. Sanjay kumar Singh, IIT BHU, India
    <br />
    Dr. V. Kamakoti, IIT, Madras, India
    <br />
    Dr. Surdarshan Jyengar, IIT, Ropar, India
    <br />
    Dr. Nishchal K. Verma, IIT, Kanpur, India
    <br />
    Dr. Khalid Raza, Jamia Millia Islamia
    <br />
    Dr. Gauri S Mittal, University of Guelph, Canada
    <br />
    Dr. Deniz Cetinkaya, Atilim University, Ankara, Turkey
    <br />
    Dr. Sateesh K Peddoju, IIT, Roorkee, India
    <br />
    Dr. M.M. Gore, NIT Allahabad, India
    <br />
    Dr. Saiyed Umer, Aliah University, India
    <br />
    Dr. Dushyant Kumar Singh, MNNIT Allahabad, India
    <br />
    Dr. Rajesh Gupta, NIT Allahabad, India
    <br />
    Dr. Rama Shanker Yadav, NIT Allahabad, India
    <br />
    Dr. Subhadeep Mukhopadhyay, NIT, Arunachal Pradesh, India
    <br />
    Dr. Nidul Sinha, NIT Silchar, India
    <br />
    Dr. Dvln Somayajulu, NIT Warangal, India
    <br />
    Dr. Dilip Kumar Yadav, NIT Jamshedpur, India
    <br />
    Dr. J. S. Lather, NIT Krukshetra, India
    <br />
    Dr. J. K. Chhabra, NIT-Kurukshetra, India
    <br />
    Dr. Brahmjit Singh, NIT-Kurukshetra, India
    <br />
    Dr. P. Santhi Thilagam, NIT-Karnataka, India
    <br />
    Dr. Durga Parshad Mohapatra, NIT, Rourkela, India
    <br />
    Dr. Damodar Reddy, NIT GOA, India
    <br />
    Dr. Lalit K Awasthi, NIT, Hamirpur,India
    <br />
    Dr. Chiranjib Kolly, NIT Durgapur, India
    <br />
    Dr. Ayesha Choudhary, Jawaharlal Nehru University, India
    <br />
    Dr. Anup Kumar Das, Jawaharlal Nehru University, India
    <br />
    Dr. D.P.Vidyarthi, Jawaharlal Nehru University, India
    <br />
    Dr. R. K. Agrawal, Jawaharlal Nehru University, India
    <br />
    Dr. Sonajharia Minz, Jawaharlal Nehru University, India
    <br />
    Dr. Karan Singh, Jawaharlal Nehru University,India
    <br />
    Dr. Manoj Kumar, GGSIPU, New Delhi, India
    <br />
    Dr. Arvinder Kaur, GGSIPU, New Delhi, India
    <br />
    Dr. Poonam Bansal, GGSIPU, New Delhi, India
    <br />
    Dr. Bharti Suri, GGSIPU,New Delhi, India
    <br />
    Dr. Monica Mehrotra, Jamia Milia Islamia,New Delhi, India
    <br />
    Dr. Rajendra Kumar, Jamia Milia Islamia,New Delhi, India
    <br />
    Dr. Khalid Raja, Jamia Milia Islamia,New Delhi, India
    <br />
    Dr. Mansaf Alam, Jamia Milia Islamia,New Delhi, India
    <br />
    Dr. Ram Shringar Rao, AIACTR,New Delhi, India
    <br />
    Dr. A.Nagaraju, Central University of Rajasthan, India
    <br />
    Dr. Vasudha Bhatnagar, Delhi University, New Delhi, India
    <br />
    Dr. Daya Gupta, Delhi University, New Delhi, India
    <br />
    Dr. O.P. Yadav, Delhi University, New Delhi, India
    <br />
    Dr. Manoj Saxena, Delhi University, New Delhi, India
    <br />
    Dr. Kapil Sharma, Delhi University, New Delhi, India
    <br />
    Dr. Divyashikha Sethia, Delhi University, New Delhi, India
    <br />
    Dr. Ruchika Malhotra, Delhi University, New Delhi, India
    <br />
    Dr. Ekram Khan, AMU, Aligarh, India
    <br />
    Dr.Majid Zaman,, University of Kashmir, India
    <br />
    Dr.Mayank Aggarwal, Gurukul Kangri University, Haridwar, India
    <br />
    Dr. M. N Hooda, BVICAN, Delhi, India
    <br />
    Dr. Ajay Kumar Garg, International Cooperation - Bilateral Division Govt. of
    India
    <br />
    Dr. P. S. Grover, Delhi University, New Delhi, India
    <br />
    Dr. Preety Singh, The LNM Institute of Information Technology, Jaipur,India
    <br />
    Dr. Shraddha Masih, Devi Ahilya University, Madhya Pradesh, India
    <br />
    Dr. Rajesh Doriya, NIT Raipur, India
    <br />
    Dr. Ajay Kumar Sharma, BEL, India
    <br />
    Dr. Sangeeta Sharma, BEL, India
    <br />
    Dr. A.K.Mohapatra, Indira Gandhi Delhi Technical University for women,
    Delhi, India
    <br />
    Dr. Arun Sharma, Indira Gandhi Delhi Technical University for women, Delhi,
    India
    <br />
    Dr. A Murali M Rao, Indira Gandhi National Open University, Delhi, India
    <br />
    Dr. Srinivas Sethi, IGIT Sarang, Odisha, India
    <br />
    Dr. B. K. Sharma, NITRA, Ghaziabad, India
    <br />
    Dr. Vinay Rishiwal, MJP Rohilkhand University, Bareilly, India
    <br />
    Dr. Hima Bindu Maringanti, North Orissa University, India
    <br />
    Dr. Krishan Kumar, SBS State Technical Campus, Ferozepur, India
    <br />
    Dr. Naveen Aggarwal, Punjab University, Chandigarh, India
    <br />
    Dr. YudhVir Singh, UIET, MahaRishi Dyanand University, Rohtak, India
    <br />
    Dr. Dhirendra Mishra, NMIMS University, Mumbai, India
    <br />
    Dr. Renu Vig, Punjab University, Chandigarh, India
    <br />
    Dr. Vishal Bhatnagar, Ambedkar Institute of Technology, New Delhi, India
    <br />
    Dr. S. B. L. Sachan, NITTTR Chandigarh, India
    <br />
    Dr. C Rama Krishna, NITTTR, Chandigarh, India
    <br />
    Dr Reshma Khemchandani, South Asian University, New Delhi, India
    <br />
    Dr. Om Prakash Sangwan, GJU, Hisar, India
    <br />
    Dr. Sandeep Vasant, Ahmedabad University, Ahmedabad, India
    <br />
    Dr. Anurag Singh Baghel, Gautam Buddh University, Greater Noida, India
    <br />
    Dr. Pradeep Tomar, Gautam Buddh University, Greater Noida
    <br />
    Dr. Sandhya Tarar, Gautam Buddh University, Greater Noida, India
    <br />
    Dr. Arun Solanki, Gautam Buddh University, Greater Noida, India
    <br />
    Dr. Shabana Urroj, Gautam Buddh University, Greater Noida, India
    <br />
    Dr. Zayaraz Gopandani, Pondicherry University, Pondicherry, India
    <br />
    Dr. Neelam Duhan, JC Bose University, YMCA Faridabad, India
    <br />
    Dr. Vikas Chawla, Ferozpur College of Engineering and Technology,Ferozpur,
    India
    <br />
    Dr. H. S. Bindra, Malout Institute of Management and Information Technology,
    Malout, Punjab, India
    <br />
    Dr. Sapna Gambhir, JC Bose University, YMCA Faridabad India
    <br />
    Dr. Subodh Wairya, IET, Lucknow, India
    <br />
    Dr. Arti Noor, CDAC, Noida India
    <br />
    Dr. Brijesh Kumar, Graphic Era University, India
    <br />
    Dr Pallavi Murghai Goel, Galgotia's University, India
    <br />
    Dr. Abhay Saxena, Dev Sanskriti Vishwavidyalaya, India
    <br />
    Dr. Amit Prakash Singh, GGSIPU,India
    <br />
    Dr. Himanshu Singh, Delhi University, New Delhi, India
    <br />
    Dr. Nag Raju, Central University of Rajasthan, India
    <br />
    Dr. Aditya Patel, AES Institute of Computer Studies, India
    <br />
    Dr. Sanjiv Kapoor, Illinois Institute of Technology, USA
    <br />
    Dr. M.R. Tripathy, NIT, Rourkela, India
    <br />
    Dr. Anjali Singhal, Inderprastha Engg. College, Ghaziabad, India
    <br />
    Dr. Pallavi Halarnkar, TSEC, Mumbai University, India
    <br />
    Dr. Ashutosh Gupta, MJP Rohilkhand University, Bareilly, India
    <br />
    Dr. R. Bhaskaran, Anna University, Chennai, India
    <br />
    Dr. Anupama Gupta, Lala Lajpat Rai Institute of Engineering and Technology,
    Moga, India
    <br />
    Dr. Nidhi Taneja, IGDTUW, India
    <br />
    Dr. Rajesh Kumar Tyagi, JIMS, New Delhi, India
    <br />
    Dr. Arun Pratap Shrivastava, GLBITM, Greater Noida, India
    <br />
    Dr. Aseem Chandel, BSA COE, India
    <br />
    Dr. Avadhesh Kumar, Galgotia University, Greater Noida, India
    <br />
    Dr. Bhawna Minocha, AIIT, AUUP, Noida
    <br />
    Dr. Deepak Gupta, AIIT, AUUP, Noida
    <br />
    Dr. Deepak Garg, Thapar University, Patiala, India
    <br />
    Dr. R. K. Sharma, Thapar University, Patiala, India
    <br />
    Dr. Deepshikha Bhargawa, Amity University Rajasthan, India
    <br />
    Dr. Deepti Mehrotra, ASET, AUUP, Noida
    <br />
    Dr. Divakar Yadav, NIT Hamirpur India
    <br />
    Dr. Jayanthi Ranjan, IMT, Ghaziabad, India
    <br />
    Dr. Lalita Gupta, MANIT, Bhopal, India
    <br />
    Dr. J. S. Sodhi, AKC Data Systems, Noida India
    <br />
    Dr. P. K. Kapur, Amity University, Noida, India
    <br />
    Dr. Ajay Rana, Shobhit University, Meerut, India
    <br />
    Dr. Sunil Kumar Khatri, Amity University,Tashkent
    <br />
    Dr. Vijay Kumar, ASET, AUUP, India
    <br />
    Dr. Laxmi Ahuja, AIIT, AUUP, Noida
    <br />
    Dr. Dolly Sharma, AIIT, AUUP, Noida
    <br />
    Dr. Sanjay Malik, GGSIPU,New Delhi
    <br />
    Dr. Shailendera Narayan Singh, ASET, AUUP, India
    <br />
    Dr. M. R Tripathy, ASET, AUUP, India
    <br />
    Dr. Mandeep Mittal, ASET, Brijwasan, New Delhi
    <br />
    Dr. Sanjay Kumar Dubey, ASET, AUUP, Noida
    <br />
    Dr. Sarika Jain, ASET AUUP, India
    <br />
    Dr. Pradeep Kumar, ASET, AUUP, India
    <br />
    Dr. Nitin Pandey, AUUP, Noida
    <br />
    Dr. Nitin Rakesh, ASET, AUUP, India
    <br />
    Dr. Ajay Vikram Singh, AIIT, AUUP, Noida
    <br />
    Dr. Krishna Asawa, JIIT NOIDA, India
    <br />
    Dr. Shikha Mehta, JIIT NOIDA, India
    <br />
    Dr. Anuja Arora, JIIT NOIDA, India
    <br />
    Dr. Chetna Gupta, JIIT NOIDA, India
    <br />
    Dr. Sumit Kumar, KIET Ghaziabad, India
    <br />
    Dr. Deepak Bansal, IIMT GROUP OF Institution Greater Noida, India
    <br />
    Dr. Amit Agrawal, Dr. APJ Abdul Kalam Govt. Institute of Technology,
    Tanakpur, India
    <br />
    Dr. Mohammad Ayob Khan, Sharda University, India
    <br />
    Dr. Brijesh kumar, MRIIRS University, Faridaba, India
    <br />
    Dr. Shrddha Sagar, Galgotias University, India
    <br />
    Dr. Sansar Singh Chauhan, Galgotias University, India
    <br />
    Dr. Rakesh Kr. Yadav, IFTM Moradabad, India
    <br />
    Dr. Manpreet Singh, CCET,Chandigarh, India
    <br />
    Dr. K.K. Agarwal, K R Mangalam University,Gurgaon, India
    <br />
    Dr, Maya Ingle, DAVV University, Indore,India
    <br />
    Dr. Neeraj Kumar Gupta, Krishna Institute of Engineering and Technology,
    Ghaziabad, India
    <br />
    Dr. Rabins Porwal, Lal Bahadur Shastri Institute of Management, New Delhi,
    India
    <br />
    Dr. Shaliesh Tiwari, ABES, Ghaziabad, India
    <br />
    Dr. Rajdev Tiwari, NIET Greater Noida, India
    <br />
    Dr. Madhu Chopra, Dr. B.R. Ambedkar Center for Biomedical Research,
    University of Delhi, India
    <br />
    Dr. Krishna Kant Agrawal, Amity University Lucknow Campus, India
    <br />
    Dr. Jyotsna Gb, Graphic Era University, India
    <br />
    Dr. Santosh Kumar, Graphic Era University, India
    <br />
    Dr. Anchit Bijalwan, Uttaranchal University, India
    <br />
    Dr. Sharddha Dandel, Devi Ahilya University, India
    <br />
    Dr. Kamlesh Dutta, NIT Hamirpur, India
    <br />
    Dr. Pravesh Tomar, JP University, India
    <br />
    Dr. Vikram Bali, PIET Panipat, India
    <br />
    Dr. Harminder Singh Bindra, MIMIT, India
    <br />
    Dr. Ravi Rastogi, Sharda University, Greater Noida, India
    <br />
    Dr. Neeta Nain, Malaviya National Institute of Technology Jaipur, India
    <br />
    Dr. Shashank Awasthi, G.L.Bajaj Institute of Technology & Management,
    Greater Noida, India
    <br />
    Dr. Babita Pandey, Lovely Professonal University, Jalandhar, India
    <br />
    Dr. Vijay Kumar, ManavRachna International University, India
    <br />
    Dr. Abdul Quaiyam, Maharaja Surajmal Institute of Technology(MSIT), Delhi,
    India
    <br />
    Dr. Parmanand Astya, Sharda University, Greater Noida, India
    <br />
    Dr. Abhishek Swaroop, Galgotias University, Greater Noida, India
    <br />
    Dr. Abhineet Anand, Galgotias University, Greater Noida, India
    <br />
    Dr. Satyajee Srivastava, Galgotias University, Greater Noida, India
    <br />
    Dr. Sanjoy Das, Indira Gandhi National Tribal University, India
    <br />
    Dr. A. L. N. Rao, G.L Bajaj Institute of Technology & Management, Greater
    Noida, India
    <br />
    Dr. Lalit Tyagi, GLBITM, Greater Noida, India
    <br />
    Dr. Dheerendra Singh, Shaheed Udham Singh College of Engineering and
    Technology, India
    <br />
    Dr. Neelamadhab Padhy, Satya Sai University of Technology & Medical
    Sciences, India
    <br />
    Dr. K Kalaiselvi, Vels Institute of Science,Technology and Advanced
    studies,India
    <br />
    Dr. Renuka Mahajan, Jaipuria Institute of Management, Noida,India
    <br />
    Dr. Tanupriya Choudhury, University of Petroleum & Energy Studies (UPES),
    Dehradun,India
    <br />
    Dr. Rana Majumdar, Swami Vivekananda University, Kolkata,India
    <br />
    Dr. Bishan Chauhan, PMP, MothersonSumi Infotech and Design, Noida,India
    <br />
    Dr. D. S. Bhilade, DAVV University Indore, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">Patron in Chief</h2>
  <p class="m0">
    Dr. Ashok K. Chauhan,<br />
    Founder President, Ritnand Balved Education Foundation (RBEF)<br />
    Chairman, A K C Group of Companies

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">Patron</h2>
  <p class="m0">
    Dr. Atul Chauhan, <br />
    Chancellor, Amity University Uttar Pradesh, Noida, India <br />
    President, Ritnand Balved Education Foundation (RBEF) <br />
    CEO, A K C Group of Companies

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">Co Patron</h2>
  <p class="m0">
    Dr. (Mrs.) Balvinder Shukla, <br />
    Vice Chancellor, Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">General Chair</h2>
  <p class="m0">
    Prof. (Dr.) Abhay Bansal, <br />
    Joint Head ASET, Director DICET, Amity School of Engineering & Technology
    <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">General Co-Chair</h2>
  <p class="m0">
    Dr. Abhishek Singhal, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Garima Aggarwal, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow tac">Organizing Secretary</h2>
  <p class="m0">
    Dr. Abhishek Singhal, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Garima Aggarwal, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Madhulika, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Misha Kakkar, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Sumit Kumar, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Subhash Chand Gupta, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="tac yellow bold">International Coordination Chair</h2>
  <p class="m0">
    Dr. Sumita Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="tac yellow bold">Publication Committee Co-Chair</h2>
  <p class="m0">
    Dr.Soumya Ranjan Nayak, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Rajni Sehgal, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Sumita Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="tac yellow bold">Speaker Committee Chair</h2>
  <p class="m0">
    Dr. Krishna Kant Singh, Professor, Amity School of Engineering & Technology
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Manoj Kumar Shukla,
    <br />
    Associate Professor, <br />Amity School of Engineering & Technology Amity
    University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Soumya Ranjan Nayak,
    <br />
    Assistant Professor, <br />Amity School of Engineering & Technology Amity
    University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Ms. Neetu Narayan,
    <br />
    Assistant Professor, <br />
    Amity School of Engineering & Technology Amity University Uttar Pradesh,
    Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Neha Agarwal,
    <br />
    Assistant Professor, <br />Amity School of Engineering & Technology Amity
    University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Achyut Shankar,
    <br />
    Assistant Professor, <br />
    Amity School of Engineering & Technology Amity University Uttar Pradesh,
    Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="tac yellow bold">Industry Connect Committee Chair</h2>
  <p class="m0">
    Dr. Madhuri Kumari, <br />
    Dy. Director (Placement & Industry Relation), Amity School of Engineering &
    Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="tac yellow bold">Industry Connect Committee Co Chair</h2>
  <p>
    <span class="yellow">Dr. Gopa Das Gupta</span>, <br />
    DGM-CRC, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="bold m0">Member <br /><br /></p>
  <p class="m0">
    Ms. Anju Khanna, <br />
    Asst. Manager, CRC, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Ms. Priyanka Singh, <br />
    Deputy Manager, CRC, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Alok Kumar Tiwari, <br />
    Sr. Manager, CRC, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Financial Affairs Committee Chair</h2>
  <p class="m0">
    Dr. Misha Kakkar, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Shuchi Mala, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Registration Committee Chair</h2>
  <p class="m0">
    Ms. Seema Sharma, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Ms. Smriti Sehgal, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Local Management Committee Chair</h2>
  <p class="m0">
    Dr. Bhupendra Singh, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Paurush Bhulania, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Event Management Committee Chair</h2>
  <p class="0">
    Dr. Vasudha Vashisht, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Sponsorship Committee Co Chair</h2>
  <p class="m0">
    Dr. Vibha Nehra, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Dolly Sharma, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Delegate Committee Chair</h2>
  <p class="m0">
    Dr. Sunil Kumar, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Technical Sessions Committee Chair</h2>
  <p class="m0">
    Dr. Vibha Nehra, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Sumita Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="bold m0">Members <br /><br /></p>
  <p class="m0">
    Dr. Anshul Tickoo, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Richa Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Rashmi Bhel, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Leena Singh, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Shipra Shukla, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Ram Paul, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Juhi Singh, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Aakankshi Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Ashok Kumar Yadav, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Anant Kumar Jaiswal, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Ms. Swati Singhal, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Deepak Gaur, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Roshan Lal, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India,

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Media Managment Committee</h2>
  <p class="m0">
    Ms. Smriti Sehgal, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Ms. Shweta Bhardwaj, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Website Management Committee</h2>
  <p class="m0">
    Dr. Subhash Chand Gupta, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Ms. Nidhi Chandra, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Publicity Committee Chair</h2>
  <p class="m0">
    Prof. (Dr.) S.N. Singh, <br />
    Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Prof. (Dr.) Tanya Singh, <br />
    Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Sanjay Kumar Dubey, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Rakesh Garg, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Publication Committee Co Chair</h2>
  <p class="m0">
    <span class="yellow">Prof. (Dr.) M. Parthasarthy</span>, <br />
    Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    <span class="yellow">Mr. Anant Kumar Jaiswal</span>, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <p class="bold m0">Members <br /><br /></p>
  <p class="m0">
    Dr. Krishna Kant Singh, <br />
    Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Geetika, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Supriya Raheja, <br />
    Associate Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Rashmi Bhel, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Leena Singh, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Ram Paul, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Juhi Singh, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Aakankshi Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Nirbhay Kashyap, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Kunal Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Sanjeev Kumar Tomar, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Ashok Kumar Yadav, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Nidhi Mishra, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Juhi Jain, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Hospitality Committee Chair</h2>
  <p class="m0">
    Mr. Sanjeev Kumar Tomar, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>

  <div class="hr"></div>
  <h2 class="bold yellow">Hospitality Committee Co Chair</h2>
  <p class="m0">
    Mr. Deepak Gaur, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Roshan Lal, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Mr. Kunal Gupta, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
  <p class="m0">
    Dr. Ram Paul, <br />
    Assistant Professor, Amity School of Engineering & Technology <br />
    Amity University Uttar Pradesh, Noida, India

    <br /><br />
  </p>
</div>
