<div class="venue">
  <h2 class="yellow bold">Venue Details</h2>
  <p>
    Amity University, <br />
    Sector - 125, Noida, <br />
    Uttar Pradesh, India. <br />
    Tel. No.: 0120-4392977, 0120-4392487 <br />
    <a
      href="https://www.google.co.in/maps?q=amity+university&hl=en&ll=28.542745,77.332421&spn=0.000005,0.002275&sll=28.544054,77.333209&layer=c&cid=14818170036754761632&panoid=Wb3NWMZAN2Cik6QsmhKJ9A&cbp=13,41.92,,0,0&gl=in&hq=amity+university&t=m&z=19&cbll=28.542745,77.332421"
      >Walk Amity via Google Street View</a
    >
  </p>

  <div class="hr"></div>

  <h2 class="yellow bold">Accomodation</h2>
  <p class="taj">
    Accommodation can be arranged in the Amity Guest House/ nearby as per the
    availability on payment basis for which the organizers shall provide
    necessary assistance, if informed well in advance on first-come-first serve
    basis. Those wishing to apply should write an email making the request at
    ashankar1@amity.edu with subject
    <span class="yellow bold">ACCOMODATION</span>
  </p>
  <div class="hr"></div>

  <h2 class="yellow bold">Transportation</h2>
  <h5 class="yellow">Nearest Airport</h5>
  <p class="taj">
    Indira Gandhi International Airport, New Delhi, India. International flights
    and some domestic flights arrive at Terminal 3 and Terminal 1. Prepaid
    taxis, luxury cabs are available at the airport to commute across the city.
  </p>
  <h5 class="yellow">Railway Stations</h5>
  <p class="taj">
    Nizamuddin Railway Station and Anand Vihar Railway Station is closest to the
    venue of the conference. Other railway stations are Old Delhi Railway
    Station, New Delhi Railway Station. From all stations prepaid three wheelers
    and taxis are available.
  </p>
  <div class="hr"></div>

  <h2 class="yellow bold">Weather</h2>
  <p class="taj">
    Weather of Noida is similar to Delhi. January is the mid of winter season,
    winter starts from October therefore weather is cold.
  </p>
</div>
