<div class="navbar" id="navbar">
  <ul class="navbar-links">
    <li routerLink="/" class="nav-link tac">
      <a>Home</a>
    </li>
    <li routerLink="/speakers" class="nav-link tac">
      <a>Speakers</a>
    </li>
    <li routerLink="/call-for-paper" class="nav-link tac">
      <a>Call for Papers</a>
    </li>
    <li routerLink="/paper-submission" class="nav-link tac">
      <a>Paper Submission</a>
    </li>
    <li routerLink="/registration" class="nav-link tac">
      <a>Registration</a>
    </li>
    <li class="nav-link tac date"><h5>2023</h5></li>
    <li routerLink="/venue" class="nav-link tac">
      <a>Venue</a>
    </li>
    <li routerLink="/committees" class="nav-link tac">
      <a>Committees</a>
    </li>
    <li routerLink="/sponsorship" class="nav-link tac">
      <a>Sponsorship</a>
    </li>
    <li
      (click)="
        nav(
          'https://onedrive.live.com/?cid=008e92141623e2c0&id=8E92141623E2C0%21598&ithint=album&authkey=%21AHG7Ene158FBlUE&v=photos'
        )
      "
      class="nav-link tac"
    >
      <a>Gallery</a>
    </li>
    <li routerLink="/contact-us" class="nav-link tac">
      <a>Contact Us</a>
    </li>
  </ul>
</div>

<div class="mobile">
  <div class="drop">
    <div (click)="toggleSidebar()" class="down-icon"></div>
  </div>
  <div class="dropdown" id="dropdown">
    <ul class="dropdown-navbar-links">
      <li routerLink="/" class="nav-link tac">
        <a>Home</a>
      </li>
      <li routerLink="/speakers" class="nav-link tac">
        <a>Speakers</a>
      </li>
      <li routerLink="/call-for-paper" class="nav-link tac">
        <a>Call for Papers</a>
      </li>
      <li routerLink="/paper-submission" class="nav-link tac">
        <a>Paper Submission</a>
      </li>
      <li routerLink="/registration" class="nav-link tac">
        <a>Registration</a>
      </li>
      <li routerLink="/venue" class="nav-link tac">
        <a>Venue</a>
      </li>
      <li routerLink="/committees" class="nav-link tac">
        <a>Committees</a>
      </li>
      <li routerLink="/sponsorship" class="nav-link tac">
        <a>Sponsorship</a>
      </li>
      <li
        (click)="
          nav(
            'https://onedrive.live.com/?cid=008e92141623e2c0&id=8E92141623E2C0%21598&ithint=album&authkey=%21AHG7Ene158FBlUE&v=photos'
          )
        "
        class="nav-link tac"
      >
        <a>Gallery</a>
      </li>
      <li routerLink="/contact-us" class="nav-link tac">
        <a>Contact Us</a>
      </li>
    </ul>
  </div>
</div>
