<div class="navbar" id="navbar">
  <ul class="navbar-links">
    <li routerLink="/" class="nav-link tac">
      <a href="#">Home</a>
    </li>
    <li routerLink="/speakers" class="nav-link tac">
      <a href="#">Speakers</a>
    </li>
    <li routerLink="/call-for-paper" class="nav-link tac">
      <a href="#">Call for Papers</a>
    </li>
    <li routerLink="/paper-submission" class="nav-link tac">
      <a href="#">Paper Submission</a>
    </li>
    <li routerLink="/registration" class="nav-link tac">
      <a href="#">Registration</a>
    </li>
    <li class="nav-link tac date"><h5>2023</h5></li>
    <li class="nav-link tac">
      <a href="#">Venue</a>
    </li>
    <li class="nav-link tac">
      <a href="#">Committees</a>
    </li>
    <li class="nav-link tac">
      <a href="#">Sponsorship</a>
    </li>
    <li class="nav-link tac">
      <a href="#">Gallery</a>
    </li>
    <li class="nav-link tac">
      <a href="#">Contact Us</a>
    </li>
  </ul>
</div>

<div class="mobile">
  <div class="drop">
    <div (click)="toggleSidebar()" class="down-icon"></div>
  </div>
  <div class="dropdown" id="dropdown">
    <ul class="dropdown-navbar-links">
      <li routerLink="/" class="nav-link tac">
        <a href="#">Home</a>
      </li>
      <li routerLink="/speakers" class="nav-link tac">
        <a href="#">Speakers</a>
      </li>
      <li routerLink="/call-for-paper" class="nav-link tac">
        <a href="#">Call for Papers</a>
      </li>
      <li routerLink="/paper-submission" class="nav-link tac">
        <a href="#">Paper Submission</a>
      </li>
      <li routerLink="/registration" class="nav-link tac">
        <a href="#">Registration</a>
      </li>
      <li class="nav-link tac">
        <a href="#">Venue</a>
      </li>
      <li class="nav-link tac">
        <a href="#">Committees</a>
      </li>
      <li class="nav-link tac">
        <a href="#">Sponsorship</a>
      </li>
      <li class="nav-link tac">
        <a href="#">Gallery</a>
      </li>
      <li class="nav-link tac">
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</div>
