<div class="landing" id="landing">
  <div class="content">
    <h4>13th International Conference</h4>
    <h1 id="contents"><span class="bold yellow">CONFLUENCE</span> 2023</h1>
    <h5>19<sup>th</sup> - 20<sup>th</sup> January, Amity University, Noida</h5>
  </div>
  <div class="scroll-down"></div>
  <div class="map"></div>
</div>

<div class="introduction p2rem" id="introduction">
  <div class="six columns">
    <h3 class="tac bold yellow">Introduction</h3>
    <p class="taj">
      Welcome to 13th International Conference - Confluence 2023, on Cloud
      Computing, Data Science & Engineering The pace of change has become
      blisteringly fast. There is technology in everything and everywhere. Every
      now and then a new technology pops up in the market. Computer Science and
      Information Technology have a profound influence on all branches of
      science, engineering, management as well. This event is dedicated to
      technical symposia, tutorial and workshop sessions. Technical symposia
      include oral or poster presentation of research papers grouped into
      parallel tracks. Workshops, tutorials, Keynote talks from experts, panel
      discussions are also included in the program schedule of the conference.
      <br />
      <span class="bold yellow">THEME</span> Cloud Computing, Data Science &
      Engineering
    </p>
  </div>
  <div class="six columns">
    <h3 class="tac bold yellow">Objective</h3>
    <ul class="taj">
      The idea of the conference is to bring the scholars, scientists,
      industrialists from all over the world in the IT industry to a common
      platform and achieve the following:
      <li>
        To present the ongoing researches in the field and hence to foster
        research relations between the Universities and the industry.
      </li>
      <li>
        Give participants a review of the latest and upcoming trends in the next
        few years.
      </li>
      <li>
        Exposing the audience to the need for more development and research in
        the field and with it the growing need for IT security.
      </li>
      <li>
        Provide an opportunity to the delegates to share their new ideas and the
        application experiences face to face.
      </li>
    </ul>
  </div>
  <p class="m0 tac bold">IEEE CONFERENCE RECORD NUMBER-56041</p>
  <p class="m0 tac bold">
    All accepted & presented papers of the Conference by duly registered
    authors, will be submitted to IEEE
  </p>
  <p class="m0 tac bold">
    Xplore Digital Library for Publication. (SCOPUS INDEXED)
  </p>
</div>
