.sponsorship {
  padding: 0 5rem;
  padding-top: 15rem;
}
a {
  color: #fff;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #fdcd01;
  }
}
.resp-table {
  overflow-x: auto;
}
