<div class="sponsorship">
  <div class="code">
    We would welcome your own ideas for discussion, and would be glad to assist
    with any enquiries you may have. The wide range of opportunities available
    means that you can choose a package that fits your particular marketing
    strategy. Some opportunities are negotiable.
  </div>

  <div class="row">
    <div class="six columns">
      <h3 class="bold yellow">Benefaction/Sponsorship</h3>
      <ul class="taj">
        <li>
          Being Benefactors' proves your leadership in industry and provides
          maximum exposure with Confluence 2023 attendees.
        </li>
        <li>Benefactor status maximizes your company's visibility.</li>
        <li>
          Your company will be prominently featured as sponsor of
          Confluence-2023.
        </li>
        <li>
          Showcase your brand to the most influential group of engineers and
          researchers audience in social media, mobile, analytics and cloud
          domain.
        </li>
        <li>
          You can also utilize this event to share your company's products and
          services with important decision makers in the industry.
        </li>
      </ul>
    </div>
    <div class="six columns">
      <h3 class="bold yellow">Why become a benefactor?</h3>
      <ul class="taj">
        <li>
          Confluence-2023, is an international event to present the latest
          results from the research.
        </li>
        <li>
          Confluence-2023 brings together industry leaders and researchers, on
          the common platform to share knowledge about the technologies,
          business opportunities and applications.
        </li>
        <li>Sponsor enjoy high visibility at the conference.</li>
        <li>
          Patrons can gain access to officials from leading R&D organizations
          and project representatives.
        </li>
      </ul>
    </div>
  </div>

  <div class="resp-table">
    <table>
      <tr>
        <td></td>
        <td>Platinum</td>
        <td>Gold</td>
        <td>Silver</td>
        <td>Bronze</td>
      </tr>
      <tr>
        <td>
          Banner of your company logo and benefactor level in the foyer area of
          the conference venue
        </td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗹</td>
      </tr>
      <tr>
        <td>
          Keynote speech during conference (subject to approval by organizing
          committee)
        </td>
        <td>🗹</td>
        <td>🗷</td>
        <td>🗷</td>
        <td>🗷</td>
      </tr>
      <tr>
        <td>
          Acknowledgement by the chairman during Welcome Reception, Opening and
          Banquet
        </td>
        <td>Welcome, Valedictory</td>
        <td>Welcome, Valedictory</td>
        <td>🗷</td>
        <td>🗷</td>
      </tr>
      <tr>
        <td>Full conference registrations and access to social events (#)</td>
        <td>5</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Advertisement in the Final Program (full / half page)</td>
        <td>Full Page</td>
        <td>Full Page</td>
        <td>Half Page</td>
        <td>One Fourth</td>
      </tr>
      <tr>
        <td>Complimentary exhibition booths (6 x 3 feet)</td>
        <td>Double Size</td>
        <td>Single Size</td>
        <td>Single Size</td>
        <td>Single Size</td>
      </tr>
      <tr>
        <td>Listed on conference website.</td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗷</td>
        <td>🗷</td>
      </tr>
      <tr>
        <td>Your company's logo</td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗹</td>
      </tr>
      <tr>
        <td>Paragraph about the company/organization (up to # words)</td>
        <td>375</td>
        <td>375</td>
        <td>250</td>
        <td>125</td>
      </tr>
      <tr>
        <td>Company/organization website URL</td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗹</td>
        <td>🗹</td>
      </tr>
      <tr>
        <td>Available up to</td>
        <td>2</td>
        <td>5</td>
        <td>8</td>
        <td>10</td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="six columns">
      <h3 class="bold yellow">Benefactor Packages</h3>
      <p>Platinum Sponsor = 10,00,000 INR / 20,000 USD</p>
      <p>Gold Sponsor = 5,00,000 INR / 10,000 USD</p>
      <p>Silver Sponsor = 2,50,000 INR / 5,000 USD</p>
      <p>Bronze Sponsor = 1,25,000 INR / 2,500 USD</p>
      <p class="bold">Other Sponsor's</p>
      <p class="m0">
        Sponsorship packages can be customized to suit your company's
        preferences.
      </p>
    </div>
    <div class="six columns">
      <h3 class="bold yellow">General Terms & Conditions</h3>
      <ul class="taj">
        <li>
          Due to limited sponsorship opportunities, sponsors shall be allocated
          on a first come first serve basis.
        </li>
        <li>
          The sponsors shall bring POP display as desired by them for the
          display stalls.
        </li>
        <li>
          All payments for sponsorship/stall bookings are to be made in advance.
        </li>
        <li>All transactions are subject to Delhi jurisdiction.</li>
        <li>
          All stall requirements shall be made known seven days prior to the
          event. All additions shall be charged appropriately.
        </li>
        <li>
          Bromide of Company's Logo & complete Name of the Company with style
          will be required for acknowledging through Backdrops, Banners,
          brochures, stationary, Invitation cards & other promotional material.
        </li>
      </ul>
      <p class="taj">
        All payments are to be made through DD/local cheque drawn in favor of
        Amity Sponsorship Account payable at Noida. For Further Clarification
        Please Contact Organizers
      </p>
    </div>
  </div>
</div>
