@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Space+Mono&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");

* {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
}

body {
  background: #232023;
  color: #fff;
}

.yellow {
  color: #fdcd01;
}

.hr {
  padding: 2.5rem !important;
  margin-bottom: 2.5rem;

  &::before {
    color: #fdcd01;
    font-weight: 500;
    font-size: 3rem;
    content: "────────";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

td,
th {
  text-align: center;
}

th {
  color: #fdcd01;
}

.code {
  font-family: "Space Mono", monospace !important;
  padding: 2.5rem;
  background-color: #111;
  border-radius: 1rem;
  color: #fff;
  margin: 1rem 0;
  li {
    font-family: "Space Mono", monospace !important;
  }
}

.m0 {
  margin: 0;
}

.p2rem {
  padding: 2rem;
}

.bold {
  font-weight: 500;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}
